### build ###
.gradle/
build/
out/

### eclipse ###
.classpath
.factorypath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
